.vs
*.bak
*.user
*.suo
*.cache

# Build artifacts
bin/
obj/
TestResults/

# Coverage reports
coverage/
*.opencover.xml
*.coverage

# Rider
.idea/

# VS Code
.vscode/

# Node modules
node_modules/

# Generated documentation
docs/*.html
docs/*.pdf
*.err
package-lock.json
