---
on:
  workflow_call:
    inputs:
      version:
        required: true
        type: string
    secrets:
      SONAR_TOKEN:
        required: true

jobs:
  quality-checks:
    name: Quality Checks
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Run markdown linter
        uses: DavidAnson/markdownlint-cli2-action@v22
        with:
          globs: '**/*.md'

      - name: Run spell checker
        uses: streetsidesoftware/cspell-action@v8
        with:
          files: '**/*.{md,cs}'

      - name: Run YAML linter
        uses: ibiqlik/action-yamllint@v3
        with:
          config_file: .yamllint.yaml

  build:
    name: Build ${{ matrix.os }}
    needs: quality-checks
    permissions:
      contents: read        # To read repository contents
      pull-requests: write  # To write pull requests analysis results and artifacts

    strategy:
      matrix:
        os: [windows-latest, ubuntu-latest]

    runs-on: ${{ matrix.os }}

    steps:

      - name: Checkout
        uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - name: Setup dotnet
        uses: actions/setup-dotnet@v5
        with:
          dotnet-version: |
            8.x
            9.x
            10.x

      - name: Restore Tools
        run: >
          dotnet tool restore

      - name: Restore Dependencies
        run: >
          dotnet restore

      - name: Start Sonar Scanner
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: >
          dotnet dotnet-sonarscanner
          begin
          /k:"demaconsulting_SpdxModel"
          /o:"demaconsulting"
          /d:sonar.token="${{ secrets.SONAR_TOKEN }}"
          /d:sonar.host.url="https://sonarcloud.io"
          /d:sonar.cs.opencover.reportsPaths=**/*.opencover.xml
          /d:sonar.scanner.scanAll=false

      - name: Build
        run: >
          dotnet build
          --no-restore
          --configuration Release
          --property:Version=${{ inputs.version }}

      - name: Test
        run: >
          dotnet test
          --no-build
          --configuration Release
          --property:Version=${{ inputs.version }}
          --collect "XPlat Code Coverage;Format=opencover"

      - name: End Sonar Scanner
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: >
          dotnet dotnet-sonarscanner
          end
          /d:sonar.token="${{ secrets.SONAR_TOKEN }}"

      - name: Generate SBOM
        run: >
          dotnet sbom-tool generate
          -b src/DemaConsulting.SpdxModel/bin/Release
          -bc src/DemaConsulting.SpdxModel
          -pn DemaConsulting.SpdxModel
          -pv ${{ inputs.version }}
          -ps DemaConsulting
          -nsb https://DemaConsulting.com/SpdxModel
          -pm true
          -li true

      - name: Generate Tests SBOM
        run: >
          dotnet sbom-tool generate
          -b test/DemaConsulting.SpdxModel.Tests/bin/Release
          -bc test/DemaConsulting.SpdxModel.Tests
          -cd "--DirectoryExclusionList **/Examples/**"
          -pn DemaConsulting.SpdxModel.Tests
          -pv ${{ inputs.version }}
          -ps DemaConsulting
          -nsb https://DemaConsulting.com/SpdxModel.Tests
          -pm true
          -li true

      - name: Run SBOM Workflow
        run: >
          dotnet spdx-tool
          run-workflow spdx-workflow.yaml

      - name: Create Dotnet Tool
        run: >
          dotnet pack
          --no-build
          --no-restore
          --property:PackageVersion=${{ inputs.version }}

      - name: Upload Artifacts
        uses: actions/upload-artifact@v6
        with:
          name: artifacts-${{ matrix.os }}
          path: |
            **/*.nupkg
            **/*.snupkg
            **/manifest.spdx.json
            **/manifest.spdx.json.sha256
            *summary.md

  build-docs:
    name: Build Documentation
    needs: build
    permissions:
      contents: read  # To read repository contents

    runs-on: windows-latest

    steps:

      - name: Checkout
        uses: actions/checkout@v6

      - name: Setup Node.js
        uses: actions/setup-node@v6
        with:
          node-version: 'lts/*'

      - name: Setup dotnet
        uses: actions/setup-dotnet@v5
        with:
          dotnet-version: |
            10.x

      - name: Install npm dependencies
        run: npm install

      - name: Install dotnet tools
        run: dotnet tool restore

      - name: Generate User Guide HTML with Pandoc
        run: >
          dotnet pandoc
          docs/guide/title.txt
          --defaults docs/guide/definition.yaml
          --filter node_modules/.bin/mermaid-filter.cmd
          --output docs/guide/guide.html

      - name: Generate User Guide PDF with Weasyprint
        run: >
          dotnet weasyprint
          docs/guide/guide.html
          "docs/SpdxModel User Guide.pdf"

      - name: Upload Documentation
        uses: actions/upload-artifact@v6
        with:
          name: documentation
          path: docs/*.pdf
